<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <!-- Header para el servidor -->
    <httpProtocol>
      <customHeaders>
        <add name="X-Served-By" value="iis-proxy" />
      </customHeaders>
    </httpProtocol>
    <!-- Header para el servidor -->

    <rewrite>
      <rules>

        <!-- /ISS-check -> 200 -->
        <rule name="iis-check" stopProcessing="true">
          <match url="^iis-check$" ignoreCase="true" />
          <action type="CustomResponse"
            statusCode="200"
            statusReason="OK"
            statusDescription="iis ok" />
        </rule>

        <!-- Bloqueos típicos de escaneo tipo ataque DoS -->
        <rule name="block common scans" stopProcessing="true">
          <match url="^(wp-admin|wp-login\.php|phpmyadmin|\.env|vendor|cgi-bin)(/.*)?$"
            ignoreCase="true" />
          <action type="CustomResponse"
            statusCode="403"
            statusReason="Forbidden"
            statusDescription="Forbidden" />
        </rule>
        <!-- Bloqueos típicos de escaneo tipo ataque DoS -->

        <!-- Bloquear _next y next -->
        <rule name="block next paths" stopProcessing="true">
          <match url="^(_next|next)(/.*)?$" ignoreCase="true" />
          <action type="CustomResponse"
            statusCode="403"
            statusReason="Forbidden"
            statusDescription="Forbidden" />
        </rule>
        <!-- Bloquear _next y next -->

        <!-- Bloquear /app/ y /api/ -->
        <rule name="block app api" stopProcessing="true">
          <match url="^(app|api)(/.*)?$" ignoreCase="true" />
          <action type="CustomResponse"
            statusCode="403"
            statusReason="Forbidden"
            statusDescription="Forbidden" />
        </rule>
        <!-- Bloquear /app/ y /api/ -->

        <!-- Ejecutar URI /login_servicio -->
        <rule name="proxy login_servicio" stopProcessing="true">
          <match url="^login_servicio/?$" ignoreCase="true" />
          <action type="Rewrite"
            url="http://127.0.0.1:8081/login_servicio"
            appendQueryString="true" />
        </rule>
        <!-- Ejecutar URI /login_servicio -->

        <!-- Ejecutar URI /ws_Consulta_externa_MBA3/ -->
        <rule name="proxy ws_Consulta_externa_MBA3" stopProcessing="true">
          <match url="^ws_Consulta_externa_MBA3/.*" ignoreCase="true" />
          <action type="Rewrite"
            url="http://127.0.0.1:8081/{R:0}"
            appendQueryString="true" />
        </rule>
        <!-- Ejecutar URI /ws_Consulta_externa_MBA3/ -->

        <!-- Ejecutar URI /mba3api/-->
        <rule name="proxy mba3api" stopProcessing="true">
          <match url="^mba3api/.*" ignoreCase="true" />
          <action type="Rewrite"
            url="http://127.0.0.1:8081/{R:0}"
            appendQueryString="true" />
        </rule>
        <!-- Ejecutar URI /mba3api/-->

        <!-- Ejecutar URI /mba3movil/-->
        <rule name="proxy mba3movil" stopProcessing="true">
          <match url="^mba3movil/.*" ignoreCase="true" />
          <action type="Rewrite"
            url="http://127.0.0.1:8081/{R:0}"
            appendQueryString="true" />
        </rule>
        <!-- Ejecutar URI /mba3movil/-->

        <!-- Para todas las demás solcitudes -> 404 -->
        <rule name="default 404" stopProcessing="true">
          <match url=".*" />
          <action type="CustomResponse"
            statusCode="404"
            statusReason="Not Found"
            statusDescription="Not Found" />
        </rule>
        <!-- Para todas las demás solicitudes -> 404 -->

      </rules>
    </rewrite>
  </system.webServer>
</configuration>