<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>

        <!--***********************************************************************************************************                                            
    
                                              I M P O R T A N T E    

        1.- 127.0.0.1 (localhost) indica que el proxy IIS y el servidor 4D están ejecutándose en la misma
            máquina, por lo que la comunicación entre ambos se realiza de forma interna (local).

        2.- 8081 corresponde al puerto real del servidor principal (4D). Este puerto se mantiene igual; lo
            que cambia es que los usuarios ya no se conectan directamente a 8081, sino al puerto público del
            proxy (8077).

        3.- De esta manera, todas las solicitudes entran primero por el proxy, se validan con las reglas
        configuradas y, solo si están permitidas, se redirigen al servidor 4D a través de localhost:8081.

        **************************************************************************************************************-->


        <!--Capa adicional de seguridad -->
        <security>
            <requestFiltering>
                <verbs allowUnlisted="false">
                    <add verb="GET" allowed="true" />
                    <add verb="POST" allowed="true" />
                    <add verb="OPTIONS" allowed="true" />
                </verbs>
            </requestFiltering>
        </security>
        <!--Capaadicional de seguridad -->


        <!-- Header para el servidor -->
        <httpProtocol>
            <customHeaders>
                <add name="X-Served-By" value="iis-proxy" />
                <add name="Cache-Control" value="no-store, no-cache, must-revalidate, max-age=0" />
                <add name="Pragma" value="no-cache" />
                <add name="Expires" value="0" />
            </customHeaders>
        </httpProtocol>
        <!-- Header para el servidor -->

        <!-- Validación de reglas -->
        <rewrite>
            <rules>
                <!-- Validación de estatus del servidor -->
                <rule name="iis-check" stopProcessing="true">
                    <match url="^iis-check$" ignoreCase="true" />
                    <action type="CustomResponse"
                        statusCode="200"
                        statusReason="OK"
                        statusDescription="iis ok" />
                </rule>
                <!-- Validación de estatus del servidor -->

                <!-- Validación de bloquear encabezado nextjs-->
                <rule name="block nextjs-signature" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{HTTP_NEXT_ACTION}" pattern=".+" />
                        <add input="{HTTP_NEXT_ROUTER_STATE_TREE}" pattern=".+" />
                        <add input="{HTTP_X_NEXTJS_REQUEST_ID}" pattern=".+" />
                        <add input="{HTTP_X_NEXTJS_HTML_REQUEST_ID}" pattern=".+" />
                    </conditions>
                    <action type="CustomResponse"
                        statusCode="403"
                        statusReason="Forbidden"
                        statusDescription="Forbidden" />
                </rule>
                <!-- Validación de bloquear encabezado nextjs-->

                <!-- Bloquear ataques a la raíz del proxy -->
                <rule name="block post-root" stopProcessing="true">
                    <match url="^$|^/$" />
                    <conditions>
                        <add input="{REQUEST_METHOD}" pattern="POST" />
                    </conditions>
                    <action type="CustomResponse"
                        statusCode="404"
                        statusReason="Not Found"
                        statusDescription="Not Found" />
                </rule>
                <!-- Bloquear ataques a la raíz del proxy -->

                <!-- Bloqueos típicos de escaneo tipo ataque DoS -->
                <rule name="block common scans" stopProcessing="true">
                    <match url="^(wp-admin|wp-login\.php|phpmyadmin|\.env|vendor|cgi-bin)(/.*)?$"
                        ignoreCase="true" />
                    <action type="CustomResponse"
                        statusCode="403"
                        statusReason="Forbidden"
                        statusDescription="Forbidden" />
                </rule>
                <!-- Bloqueos típicos de escaneo tipo ataque DoS -->

                <!-- Bloquear _next y next -->
                <rule name="block next paths" stopProcessing="true">
                    <match url="^(_next|next)(/.*)?$" ignoreCase="true" />
                    <action type="CustomResponse"
                        statusCode="403"
                        statusReason="Forbidden"
                        statusDescription="Forbidden" />
                </rule>
                <!-- Bloquear _next y next -->

                <!-- Bloquear /app/ y /api/ -->
                <rule name="block app api" stopProcessing="true">
                    <match url="^(app|api)(/.*)?$" ignoreCase="true" />
                    <action type="CustomResponse"
                        statusCode="403"
                        statusReason="Forbidden"
                        statusDescription="Forbidden" />
                </rule>
                <!-- Bloquear /app/ y /api/ -->

                <!-- Ejecutar API login_servicio -->
                <rule name="proxy login_servicio" stopProcessing="true">
                    <match url="^login_servicio/?$" ignoreCase="true" />
                    <action type="Rewrite"
                        url="http://127.0.0.1:8081/login_servicio"
                        appendQueryString="true" />
                </rule>
                <!-- Ejecutar API login_servicio -->

                <!-- Ejecutar API's habilitadas /mba3api/-->
                <rule name="proxy mba3api" stopProcessing="true">
                    <match url="^mba3api/.*" ignoreCase="true" />
                    <action type="Rewrite"
                        url="http://127.0.0.1:8081/{R:0}"
                        appendQueryString="true" />
                </rule>
                <!-- Ejecutar API's habilitadas /mba3api/-->


                <!-- Ejecutar API /ws_Consulta_externa_MBA3/ -->
                <rule name="proxy ws_Consulta_externa_MBA3" stopProcessing="true">
                    <match url="^ws_Consulta_externa_MBA3/.*" ignoreCase="true" />
                    <action type="Rewrite"
                        url="http://127.0.0.1:8081/{R:0}"
                        appendQueryString="true" />
                </rule>
                <!-- Ejecutar API /ws_Consulta_externa_MBA3/ -->


                <!-- Ejecutar API móvil /mba3movil/-->
                <rule name="proxy mba3movil" stopProcessing="true">
                    <match url="^mba3movil/.*" ignoreCase="true" />
                    <action type="Rewrite"
                        url="http://127.0.0.1:8081/{R:0}"
                        appendQueryString="true" />
                </rule>
                <!-- Ejecutar API móvil /mba3movil/-->


                <!-- Para todas las demás solicitudes 404 -->
                <rule name="default 404" stopProcessing="true">
                    <match url=".*" />
                    <action type="CustomResponse"
                        statusCode="404"
                        statusReason="Not Found"
                        statusDescription="Not Found" />
                </rule>
                <!-- Para todas las demás solicitudes 404 -->

            </rules>
        </rewrite>
        <!-- Validación de reglas -->

    </system.webServer>
</configuration>